body {
    margin: 0;
    margin-bottom: 80px;
    background:#ebf2d9;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}
#title{
    text-align: center;
    font-size: 48px;
}
#nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3;
    height: 80px;
}
#logo {
    padding-left: 100px;
}
#logo h2 {
    padding-left: 0;
}
#menu {
    display: flex;
    gap: 20px;
    padding-right: 100px;
}
#menu a {
    transition: 0.3;
}
#menu a:hover {
    text-decoration: underline solid 2px;
}
#nav-container h2, #nav-container a {
    margin: 0;
    color: white;
    text-decoration: none;
}
#nav-container a {
    font-weight: bold;
}
.gallery {
    column-count: 5;
    column-gap: 20px;
    margin: 0 100px;
}
.gallery a {
    display: flex;    
    justify-content: center;
    align-items: center;     
    margin-bottom: 20px;
    border-radius: 8px;
}
.gallery a img {
    width: 100%;
    display: flex;
    border-radius: 12px;
}
.gallery img:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
}
.bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d4d1b3c;
    border-radius: 12px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    margin: 40px 100px;
}
.bio-content{
    padding-bottom: 40px;
    padding: 40px 100px;
}
.bio-content h1 {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 0 40px;
    text-align: center;
}
.bio-content p{
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    padding: 0 100px;
}
.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    padding: 20px 100px 20px 100px;
    background: #ebf2d9;
    margin: 40px 0;
    border-bottom: 2px solid #0d4d1b;
    top: 80px;
}
.blog-container a{
    min-height: 40px;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #0d4d1b;
    border-radius: 12px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.blog-container a:hover {
    background-color: #0d4d1b;
    color: white;
}
.blog-container a h4 {
    margin: 12px;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}
.blog-container h4 {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.other-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    gap: 20px;
}
.card {
    width: 300px;
    border: 2px solid #0d4d1b;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
    background-color: #0d4d1b;
}
.card:hover a,
.card:hover h4 {
    color: white;
}
.card-img img {
    width: 100%;
    height: 300px;
    display: block;
}
.card-desc {
    padding: 16px;
}
.card-desc a {
    text-decoration: none;
    color: inherit;
}
.card-desc h4 {
    margin: 0;
}



