body {
    margin: 0;
    margin-bottom: 80px;
    background: #eef5e3;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}
#nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#logo {
    padding-left: 100px;
}
#logo h2 {
    padding-left: 0;
}
#menu {
    display: flex;
    gap: 20px;
    padding-right: 100px;
}
#menu a{
    transition: 0.3s;
}
#menu a:hover {
    text-decoration: underline solid 2px;
}

#nav-container h2,
#nav-container a {
    margin: 0;
    color: white;
    text-decoration: none;
}

#nav-container a {
    font-weight: bold;
}

#about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d4d1b3c;
    border-radius: 12px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    margin: 40px 100px;
}

#img-container img {
    display: block;
    width: 480px;
    height: 800px;
    cursor: pointer;
    transition: 1s ease-out;
    border-radius: 12px 0 0 12px;
}
#top{
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
}
#top:hover{
    opacity: 0;
    transition: 1 ease-out;
}
#img-container{
    width: 480px;
    height: 800px;  
    position: relative;  
}
#img-container img{
    display: flex;
    width: 480px;
    height: 800px;
    border-radius: 12px 0 0 12px;
}
#about-content h1 {
    font-size: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding-bottom: 20px;
    text-align: center;
}
#about-content p {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    text-align: justify;
    padding: 0 100px;
}
#blog-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 100px 60px 100px;
}
#blog-container a {
    min-height: 60px;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #0d4d1b;
    border-radius: 12px;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
#blog-container a:hover {
    background-color: #0d4d1b;
    color: white;
}
#blog-container a h2 {
    margin: 0;
    font-size: 14px;
    color: inherit;
}
#blog-container h2 {
    margin: 0;
    color: #333;
    font-size: 14px;
}
.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    column-count: 5;
    column-gap: 20px;
    margin: 0 100px;
}
.card {
    width: 300px;
    border: 2px solid #0d4d1b;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
    background-color: #0d4d1b;
}
.card:hover a,
.card:hover h4 {
    color: white;
}
.card-img img {
    width: 100%;
    height: 300px;
    display: block;
}
.card-desc {
    padding: 16px;
}
.card-desc a {
    text-decoration: none;
    color: inherit;
}
.card-desc h4 {
    margin: 0;
}
