body {
    margin: 0;
    margin-bottom: 80px;
    background: #ebf2d9;
    font-family: "Inter", sans-serif;
}
#nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;
}

#nav-container h2,
#nav-container a {
    margin: 0;
    color: white;
    text-decoration: none;
}

#menu {
    display: flex;
    gap: 20px;
}

#menu a {
    font-weight: bold;
    transition: 0.3s;
}

#menu a:hover {
    text-decoration: underline 2px solid white;
}

.beats-container {
    display: flex;
    gap: 20px;
    margin: 40px 100px 40px 420px;
}

.playlists-container {
    width: 260px;
    background: #0d4d1b5a;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    position: fixed;
    top: 190px;
    left: 100px;
}


.playlists a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 8px 4px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.playlists a:hover {
    background: #0d4d1b3c;
}

.logo-img img {
    height: 40px;
    width: 40px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.album-container {
    width: 800px;
    background: #0d4d1b3c;
    border-radius: 12px;
    padding: 30px;
}

.artists-container {
    width: 400px;
    background: #0d4d1b5a;
    border-radius: 12px;
    padding: 20px;
}

.description h2 {
    font-size: 18px;
    margin: 0px 0 0 0;
}

.description p {
    font-size: 12px;
    margin: 4px 0 6px 0;
}
.playlists-img img{
    height: 300px;
    width: 300px;
    display: flex;
    border-radius: 8px;
}
.playlist-header {
    display: flex;
    gap: 25px;
}

.playlists-img img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title .small {
    font-size: 14px;
    margin: 0;
}

.title h1 {
    font-size: 52px;
    margin: 10px 0;
}

.title p {
    font-size: 16px;
    margin: 0;
}
.audio-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 40px;
    background: #0d4d1b3c;
    border-radius: 8px;
    margin-top: 40px;

}

.audio-card img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    object-fit: cover;
}

.audio-info h3 {
    margin: 0;
    font-size: 18px;
}

.audio-info p {
    padding-top: 4px;
    margin: 2px 0 6px 0;
    font-size: 14px;
}
.audio-info audio {
    margin-top: 12px;
    width: 720px;
}
.artists-container {
    background: #0d4d1b5a;
    border-radius: 12px;
    display: flex;
    gap: 20px;    
    width: 560px;
    margin-bottom: auto;
}
.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.artist-card img {
    width: 460px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
}
.artist-card h2 {
    margin: 0;
}
.artist-card p {
    margin: 0;
    font-size: 14px;
}
.other-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    margin: 0 100px;
    gap: 20px;
}
.card {
    width: 300px;
    border: 2px solid #0d4d1b;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
    background-color: #0d4d1b;
}
.card:hover a,
.card:hover h4 {
    color: white;
}
.card-img img {
    width: 100%;
    height: 300px;
    display: block;
}
.card-desc {
    padding: 16px;
}
.card-desc a {
    text-decoration: none;
    color: inherit;
}
.card-desc h4 {
    margin: 0;
}

