*{
    box-sizing: border-box;
}
body {
    margin: 0;
    margin-bottom: 80px;
    background:#ebf2d9;
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}
#nav-container {
    min-width: 400px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#logo {
    padding-left: 100px;
}
#logo h2 {
    padding-left: 0;
}
#menu {
    display: flex;
    gap: 20px;
    padding-right: 100px;
}
#menu a:hover {
    text-decoration: underline solid 2px;
}
#nav-container h2, #nav-container a {
    margin: 0;
    color: white;
    text-decoration: none;
}
#nav-container a {
    font-weight: bold;
}

.blog-container, .block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 20px;
    margin: 40px 100px 40px 100px;
    top: 0;
}
.blog-container a{
    min-height: 20px;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #0d4d1b;
    border-radius: 12px;
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #0d4d1b3c;
    margin: 40px 100px;
    border-radius: 12px;
}
.category h1{
    margin: 16px 0;
    text-align: center;
}
.category p{
    margin: 0 0 16px 0;
    text-align: center;
}
.blog-container a:hover {
    background-color: #0d4d1b;
    color: white;
}
.blog-container a h4 {
    margin: 12px;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}
.blog-container h4 {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.gallery {
    column-count: 5;
    column-gap: 20px;
    margin: 0 100px;
}
.gallery a {
    display: flex;    
    justify-content: center;
    align-items: center;     
    margin-bottom: 20px;
    border-radius: 8px;
}
.gallery a img {
    width: 100%;
    display: flex;
    border-radius: 12px;
}
.gallery img:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
}
.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    column-count: 5;
    column-gap: 20px;
    margin: 200px 0 100px;
}
.gallery {
    column-count: 4;
    column-gap: 20px;
    margin: 0 100px;
}
.gallery a {
    display: flex;    
    justify-content: center;
    align-items: center;     
    margin-bottom: 20px;
    border-radius: 8px;
}
.gallery a img {
    width: 100%;
    display: flex;
    border-radius: 12px;
}
.gallery img:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
}
.other-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    gap: 20px;
}
.card {
    width: 300px;
    border: 2px solid #0d4d1b;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
    background-color: #0d4d1b;
}
.card:hover a,
.card:hover h4 {
    color: white;
}
.card-img img {
    width: 100%;
    height: 300px;
    display: block;
}
.card-desc {
    padding: 16px;
}
.card-desc a {
    text-decoration: none;
    color: inherit;
}
.card-desc h4 {
    margin: 0;
}