body {
    margin: 0;
    margin-bottom: 80px;
    background: #ebf2d9;
    font-family: "Inter", sans-serif;
}
#nav-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #0d4d1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 100px;
}

#nav-container h2,
#nav-container a {
    margin: 0;
    color: white;
    text-decoration: none;
}

#menu {
    display: flex;
    gap: 20px;
}

#menu a {
    font-weight: bold;
    transition: 0.3s;
}

#menu a:hover {
    text-decoration: underline 2px solid white;
}
.blog-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: sticky;
    padding: 20px 0 20px 0;
    background: #ebf2d9;
    margin: 40px 100px 40px 100px;
    border-bottom: 2px solid #0d4d1b;
    top: 80px;
}
.blog-container a{
    min-height: 40px;
    padding: 4px 16px;
    background: transparent;
    border: 2px solid #0d4d1b;
    border-radius: 12px;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    transition: 0.3s;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.blog-container a:hover {
    background-color: #0d4d1b;
    color: white;
}
.blog-container a h4 {
    margin: 12px;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}
.blog-container h4 {
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.movie-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 40px 100px;
}

.movie-card {
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 12px;
    overflow: hidden;
}

.movie-card iframe {
    width: 1000px;
    height: 500px;
    display: block;
}

.details-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
    background: #0d4d1b3c;
    align-items: center;
}

.poster img {
    margin-top: 28px;
    width: 150px;
    height: 255px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
}
.text p {
    margin: 20px 0 12px 0;
    text-align: justify;
    font-size: 16px;
    margin-top: 0;
    padding-right: 20px;
    overflow: none;
    max-width: 612px;
}
.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    gap: 20px;
}
.card {
    width: 300px;
    border: 2px solid #0d4d1b;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
    background: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0 8px #0d4d1b9c;
    background-color: #0d4d1b;
}
.card:hover a,
.card:hover h4 {
    color: white;
}
.card-img img {
    width: 100%;
    height: 300px;
    display: block;
}
.card-desc {
    padding: 16px;
}
.card-desc a {
    text-decoration: none;
    color: inherit;
}
.card-desc h4 {
    margin: 0;
}

